language: php
php:
    - 5.6
    - 7.0
    - hhvm

matrix:
    allow_failures:
        - php: 7.0
        - php: hhvm

    include:
        - php: 5.6
          env: dependencies="--prefer-lowest --prefer-stable"

script:
    - vendor/bin/tester tests -s -p php

after_failure:
    - for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done

before_script:
    - composer self-update
    - composer update --no-interaction --prefer-source $dependencies